ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    background-image: linear-gradient(to right,rgb(0, 255, 123),rgb(2, 41, 112));
}
li{
    font-size: 25px;
    display: inline;
    margin: 1vh;
    font-weight: bold;
    color: white;
}
.container
{
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}
body
{

    background: url("home.jpg")  no-repeat scroll;
    background-size: cover;
    height: 100%;
}
.wrapper
{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
}